@media screen and (min-width: 1400px) {
    footer>.mainFooterContent {
        width: 1344px;
    }
    .footMainMenu {
        width: 100%;
        justify-content: space-around;
        gap: 100px;
    }
    .footAboutUs {
        width: 100%;
    }
    .certificate {
        width: 94%;
    }
    .disclaimer {
        width: 100%;
    }
    .social {
        width: 100%;
    }
    .copyright {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {

    .mainFooterContent {
        width: 1000px;
    }
    .footMainMenu {
        width: 100%;
        gap: 60px;
    }
    .footAboutUs {
        width: 100%;
    }
    .certificate {
        width: 92%;
    }
    .certificate>div {
        width: 12%;
    }
    .disclaimer {
        width: 95%;
    }
    .social {
        width: 95%;
    }
    .copyright {
        width: 95%;
    }
}

@media screen and (max-width: 1000px) {
    .mainFooterContent {
        width: 800px;
    }
    .footMainMenu {
        width: 100%;
        gap: 30px;
    }
    .footAboutUs {
        width: 100%;
    }
    .certificate {
        width: 92%;
    }
    .certificate>div {
        width: 15%;
    }
    .disclaimer {
        width: 95%;
    }
    .social {
        width: 95%;
    }
    .copyright {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .mainFooterContent {
        width: 600px;
    }
    .footMainMenu {
        width: 100%;
        gap: 30px;
    }
    .footMainMenu>ul {
        padding: 0;
    }
    .footAboutUs {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        text-align: justify;
    }
    .certificate {
        width: 100%;
        justify-content: center;
    }
    .certificate>div {
        width: 18%;
    }
    .disclaimer {
        width: 100%;
        text-align: justify;
        margin-bottom: 20px;
    }
    .social {
        width: 100%;
    }
    .copyright {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .mainFooterContent {
        width: 400px;
        background: #f7f7f7;
    }
    .footMainMenu {
        width: 100%;
        gap: 30px;
    }
    .footMainMenu>ul {
        padding: 0;
    }
    .footAboutUs {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        text-align: justify;
    }
    .certificate {
        width: 100%;

    }
    .certificate>div {
        width: 18%;
    }
    .disclaimer {
        width: 100%;
        text-align: justify;
        margin-bottom: 20px;
    }
    .social {
        width: 100%;
    }
    .copyright {
        width: 100%;
    }
}