header {
    width: 1680px;
    height: 44px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.mainMenuContent {
    width: 1344px;
    height: 100%;
    border: 1px solid black;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;

}

.headerRight {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid black;

    width: 1100px;
    height: 100%;

}

.headerLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid black;

    width: 150px;
    height: 100%;
}

.item {
    /* width: 50px; */
    height: 100%;
    border: 1px solid black;
}